.about {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;

  border-radius: 1rem;
  padding: var(--sectionPadding);

  background-color: var(--dark);
  color: var(--light);

  p {
    color: #bebebe;

    Icon {
      margin: 0rem 0.5rem;
    }
  }
}

@media (max-width: 50rem) {
  .about {
    width: 80%;
  }
}
