.about {
  width: 50%;
  margin: auto;
  border-radius: 1rem;
  padding: var(--sectionPadding);
  text-align: left;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    color: var(--muted);

    Icon {
      margin: 0rem 0.5rem;
    }
  }
}

@media (max-width: 50rem) {
  .about {
    width: 80%;
  }
}
