.card {
  display: flex;
  flex-direction: row;
  width: 60%;
  margin: auto;
  padding: 1rem;
  background-color: var(--dark);
  color: var(--light);

  &-img {
    width: 50%;
    height: auto;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 1rem;

    &:hover {
      transform: scale(1.1); // Add this line
    }
  }

  &-info {
    margin-left: 1rem;
    p {
      color: var(--muted);
      font-size: 1.25rem;
      margin: 0;
      padding: 0;
    }
  }

  &-buttons {
    margin-top: 1rem;
    a {
      margin-right: 1rem;
    }
  }

  .icon {
    font-size: 2rem;
    margin-right: 0.5rem;
  }
}

@media (max-width: 50rem) {
  .card {
    width: 80%;
    flex-direction: column;

    &-img {
      width: 100%;
    }

    &-info {
      margin-left: 0;
      margin-top: 1rem;
    }

    .icon {
      font-size: 1.5rem;
    }
  }
}
