@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap");

:root {
  --sectionPadding: 2rem 1rem;
  --sectionMargin: 1rem;
  --dark: #212529;
  --light: #f8f9fa;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu Condensed", sans-serif;
}

body {
  background-color: var(--light);
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;

  margin: var(--sectionMargin);
  border-radius: 1rem;
  padding: var(--sectionPadding);

  background-color: var(--dark);
  color: var(--light);
}

.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  margin: var(--sectionMargin);
  border-radius: 1rem;
  border: 1px solid none;
  padding: var(--sectionPadding);
  background-color: var(--light);
}
.skill iconify-icon {
  font-size: 2.5rem;
  margin: 0.5rem;
}

.work {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  text-align: center;
  margin: var(--sectionMargin);
  padding: var(--sectionPadding);
}
.card {
  width: 18rem;
  margin: 1rem;
  border: 2px solid #212529;
  padding: 0.25rem;
  text-align: center;
  color: #212529;
  background-color: var(--light);
}
.card-buttons {
  display: flex;
  justify-content: space-evenly;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;

  margin: 1rem;
  border-radius: 1rem;
  padding: var(--sectionPadding);

  background-color: var(--dark);
  color: var(--light);
}

.contact {
  margin: var(--sectionMargin);
  border: 1px solid none;
  border-radius: 1rem;
  padding: var(--sectionPadding);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-bottom: 1rem;
}
footer iconify-icon {
  font-size: 2rem;
}
.social-links {
  display: flex;
  margin: 0;
  padding: 0.5rem;
}
.social-link {
  padding: 0 0.5rem;
}
